.home-layout {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.nav ul {
  display: flex;
  align-items: center;
}
